<%- include("../partials/header") %>

    <div class="centered">
        <h1 class="header-text">Lists</h1>

        <%- include("../partials/newList") %>

        <% lists.forEach((list) => { %>
            <div class="row new-item-form">
                <div class="col-9 centered">
                    <a class="btn btn-outline-primary bg-light" href="/lists/<%= list._id %>">
                        <%= list.name %>
                    </a>
                </div>
            </div>
        <% }); %>

        <% if (lists.length > 5) { %>
            <%- include("../partials/newList") %>
        <% } %>
    </div>

<%- include("../partials/footer") %>
