<%- include("../partials/header") %>

    <div class="centered">
        <h1 class="page-header">Lists</h1>

        <%- include("../partials/newList") %>

        <% lists.forEach((list) => { %>
            <div class="row new-item-form">
                <div class="col-9 centered">
                    <a class="btn btn-outline-primary bg-light" href="/lists/<%= list._id %>">
                        <%= list.name %>
                    </a>
                </div>
                <div class="col-3">
                    <form class="delete-item" action="/lists/<%= list._id %>?_method=DELETE" onsubmit="return deleteConfirm(`<%= list.name %>`)" method="POST">
                        <button class="btn btn-outline-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        <% }); %>

        <% if (lists.length > 5) { %>
            <%- include("../partials/newList") %>
        <% } %>
    </div>

<%- include("../partials/footer") %>
