<div class="form-group">
    <table class="centered">
        <tr>
            <% ratingInfo.forEach((ri, idx) => { %>
                <td class="centered rating-image">
                    <label>
                        <input type="radio" name="ratingData[rating]" value="<%= idx + 1 %>" <% if (ratingData.rating == idx) { %>checked<% } %>>
                        <picture>
                            <source srcset="<%= ri.img %>.png" media="(max-width: 999px)">
                            <source srcset="<%= ri.img %>Large.png">
                            <img src="<%= ri.img %>.png" alt="<%= ri.alt %>" title="<%= ri.title %>">
                        </picture>
                    </label>
                </td>
            <% }); %>
        </tr>
    </table>
</div>
<div class="form-group">
    <input class="form-control" type="text" name="ratingData[comment]" placeholder="Comment" value="<%= ratingData.comment %>" autofocus>
</div>