<h2>
    <div class="row">
        <div class="col-9">
            Ratings
        </div>
        <div class="col-3">
            <% if (user) { %>
                <a href="<%= baseRatingLink %>/new" class="btn btn-xs btn-outline-primary bg-light">+</a>
            <% } %>
        </div>
    </div>
</h2>
<% if (ratings.length) { %>
    <div class="menu-item-container">
        <div class="row">
            <div class="col-2">
                <h5>Rating</h5>
            </div>
            <div class="col-9">
                <h5>Comment</h5>
            </div>
        </div>
        <div class="container">
            <% ratings.forEach((rating) => { %>
                <div class="row rating">
                    <div class="col-2">
                        <a class="btn btn-outline-primary bg-light float-right" href="<%= baseRatingLink %>/<%= rating._id %>">
                            <img src="<%= ratingInfo[rating.rating].img %>Small.png">
                        </a>
                    </div>
                    <div class="col-9">
                        <%= limitText(rating.comment, 30) %>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
<% } %>
