<% if (recommendations.length) { %>
    <%- include("./deleteConfirm") %>

    <h2 class="header-text">Recommendations</h2>
    <% recommendations.forEach((recommendation) => { %>
        <%
            let linkName = recommendation.restaurant.name;
            let menuItemPart = ``;
            if ('menuItem' in recommendation && recommendation.menuItem) {
                menuItemPart += `/menuItems/${recommendation.menuItem._id}`;
                linkName = recommendation.menuItem.name;
            }
        %>
        <div class="row new-item-form no-margin">
            <% if ('allowDelete' in recommendation && recommendation.allowDelete) { %>
            <div class="col-10 low-padding">
            <% } else { %>
            <div class="col-12 low-padding">
            <% } %>
            <% if ('from' in recommendation) { %>
                by:
                <% recommendation.from.forEach((from) => { %>
                    <br>
                    <%- from.getFullName() %>
                <% }); %>
            <% } %> 
            <a class="btn btn-outline-primary bg-light centered" href="/restaurants/<%= recommendation.restaurant._id %><%= menuItemPart %>">
                    <%= linkName %>
                </a>
            </div>

            <% if ('allowDelete' in recommendation && recommendation.allowDelete) { %>
            <div class="col-2 low-padding">
                <form class="delete-item" action="/users/share/<%= user._id %>/<%= recommendation._id %>?_method=DELETE" onsubmit="return deleteConfirm(`the recommendation for <%= linkName %>`)" method="POST">
                    <button class="btn btn-outline-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </div>
            <% } %>
        </div>
    <% }); %>

    <hr class="spacer">
<% } %>
