<%- include("../partials/header") %>

    <%- include("../partials/deleteConfirm") %>

    <div class="centered">
        <% if (friendRequests.length) { %>
            <h1 class="header-text">Friend Requests</h1>
            <% friendRequests.forEach((friendRequest) => { %>
                <div class="row new-item-form">
                    <div class="col-9 centered">
                        <a href="<%= baseURL %>/users/<%= user._id %>/friends/confirm/<%= friendRequest.token %>" class="btn btn-outline-success">
                            <%= friendRequest.source.getDisplayName() %>
                            <i class="fa-solid fa-check float-right"></i>
                        </a>
                    </div>
                    <div class="col-3">
                        <form class="delete-item" action="/users/<%= user._id %>/friends/decline/<%= friendRequest.token %>?_method=DELETE" onsubmit="return deleteConfirm(`this request`)" method="POST">
                            <button class="btn btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            <% }); %>
        <% } %>

        <h1 class="header-text">Friends</h1>
        <%- include("../partials/newFriend") %>

        <% user.friends.forEach((friend) => { %>
            <div class="row new-item-form">
                <div class="col-9 centered">
                    <a class="btn btn-outline-primary bg-light" href="/users/<%= user._id %>/friends/<%= friend._id %>">
                        <%= friend.getDisplayName() %>
                    </a>
                </div>
                <div class="col-3">
                    <form class="delete-item" action="/users/<%= user._id %>/friends/<%= friend._id %>?_method=DELETE" onsubmit="return deleteConfirm(`<%= friend.getDisplayName() %>`)" method="POST">
                        <button class="btn btn-outline-danger">
                            <i class="fas fa-trash"></i>
                        </button>
                    </form>
                </div>
            </div>
        <% }); %>

        <% if (user.friends.length > 5) { %>
            <%- include("../partials/newFriend") %>
        <% } %>
    </div>

<%- include("../partials/footer") %>
