<%- include("../partials/header") %>

    <div style="text-align:center">
        <h1>Edit a rating</h1>
    </div>

    <div class="new-item-form">
        <form action="<%= restaurantRoute %><%= menuItemRoute %>/ratings/<%= ratingData._id %>?_method=PUT" method="POST">
            <%- include("../partials/ratingInput") %>
            <%- include("../partials/formButtons") %>
        </form>
    </div>

<%- include("../partials/footer") %>