<%- include("../partials/header") %>

    <%- include("../partials/deleteConfirm") %>

    <div class="page-header">
        <div class="row">
            <div class="col-7">Account Info</div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <a href="/users/<%= user._id %>/edit" class="btn btn-outline-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    <div class="col">
                        <form class="delete-item" action="/users/<%= user._id %>?_method=DELETE" onsubmit="return deleteConfirm(`your account`)" method="POST">
                            <button class="btn btn-outline-danger"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="spacer">

    <h4>
        First Name: <%= user.firstName %>
    </h4>
    <h4>
        Last Name: <%= user.lastName %>
    </h4>
    <h4>
        Email: <%= user.email %>
    </h4>

<%- include("../partials/footer") %>
