<%- include("../partials/header") %>

    <%- include("../partials/deleteConfirm") %>

    <div class="row">
        <div class="col-2 centered">
            <a class="btn btn-outline-primary bg-light" href="/restaurants/<%= restaurant._id %>" title="<%= restaurant.name %>">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
        <div class="col-10">
            <div class="page-header">
                <%= menuItem.name %>
            </div>
        </div>
    </div>
    <div class="container centered">
        <strong>
            <a href="/restaurants/<%= restaurant._id %>" title="<%= restaurant.name %>">
                <%= restaurant.name %>
            </a>
            : <%= menuItem.category %>
        </strong>
    </div>

    <% if (user) { %>
        <hr class="spacer">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <%- include("../partials/recommendDropdown") %>
                    </div>
                    <div class="col-3">
                        <a href="/restaurants/<%= restaurant._id %>/menuItems/<%= menuItem._id %>/edit" class="btn btn-outline-warning">
                            <i class="fas fa-edit"></i>
                        </a>
                    </div>
                    <div class="col-3">
                        <form class="delete-item"
                            action="/restaurants/<%= restaurant._id %>/menuItems/<%= menuItem._id %>?_method=DELETE" onsubmit="return deleteConfirm(`<%= menuItem.name %>`)" method="POST">
                            <button class="btn btn-outline-danger">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <div class="container">
        <% if (user) { %>
            <hr class="spacer">

            <h2>Notes</h2>
            <form id="note" action="/restaurants/<%= restaurant._id %>/menuItems/<%= menuItem._id %>/notes" method="POST">
                <textarea name="note[body]" placeholder="Add notes here..." onchange="document.getElementById('note').submit()" required><%= (note ? note.body : '') %></textarea>
            </form>
            
            <hr class="spacer">
        <% } %>

        <% if (menuItem.description) { %>
            <h2>Description</h2>
            <div>
                <%= menuItem.description %>
            </div>
            <hr class="spacer">
        <% } %>

        <%
        const baseRatingLink = `/restaurants/${restaurant._id}/menuItems/${menuItem._id}/ratings`;
        const ratings = filterUserOwned(user, menuItem.ratings); 
        %>
        <%- include("../partials/ratings", {baseRatingLink, ratings, getRatingInfo}) %>
    </div>

<%- include("../partials/footer") %>
