<%- include("../partials/header") %>

<div class="new-item-form">
    <form class="form-inline" action="/restaurants/<%= restaurant._id %>/checkin" method="POST">
        <!-- over all rating for the restaurant -->
        <div style="text-align:center">
            <h4>How was your overall meal?</h4>
        </div>
        <div class="form-group">
            <table class="centered">
                <tr>
                    <% ratingInfo.forEach((ri, idx) => { %>
                        <td class="centered">
                            <label>
                                <input type="radio" name="<%= restaurant._id %>[rating]" value="<%= idx + 1 %>">
                                <img src="<%= ri.img %>.png" alt="<%= ri.alt %>" title="<%= ri.title %>">
                            </label>
                        </td>
                    <% }); %>
                </tr>
            </table>
            <input class="form-control" type="text" name="<%= restaurant._id %>[comment]" placeholder="Comment">
        </div>

        <!-- menu item list as radio buttons w/ hidden rating and comment section -->
        <div style="text-align:center">
            <h4>What did you have to eat?</h4>
        </div>
        <div class="menu-item-container">
            <% restaurant.menuItems.forEach((menuItem) => { %>
                <div class="rating">
                    <input type="checkbox" id="<%= menuItem._id %>[id]" name="<%= menuItem._id %>[checked]" value="<%= menuItem._id %>" onclick="toggleMenuItem(this.value)">
                    <label for="<%= menuItem._id %>[id]"><%= menuItem.name %></label>
                    <div class="form-group" id="<%= menuItem._id %>" hidden>
                        <table class="centered">
                            <tr>
                                <% ratingInfo.forEach((ri, idx) => { %>
                                    <td class="centered">
                                        <label>
                                            <input type="radio" name="<%= menuItem._id %>[rating]" value="<%= idx + 1 %>">
                                            <img src="<%= ri.img %>.png" alt="<%= ri.alt %>" title="<%= ri.title %>">
                                        </label>
                                    </td>
                                <% }); %>
                            </tr>
                        </table>
                        <input class="form-control" type="text" name="<%= menuItem._id %>[comment]" placeholder="Comment">
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="spacer" />

        <%- include("../partials/formButtons") %>
    </form>
</div>

<script type="text/javascript" src="/script/checkin.js"></script>

<%- include("../partials/footer") %>
