<%- include("../partials/header") %>

    <script>
        function validateForm(name) {
            if (!document.forms[name].address.value && !confirm(`Are you sure you want to create a restaurant with no address?`)) {
                return false;
            }

            return validateAddress(name);
        }
    </script>

    <div style="text-align:center">
        <h1>Edit restaurant</h1>
    </div>

    <div class="new-item-form">
        <form id="restaurant" class="form-inline" action="/restaurants/<%= restaurant._id %>?_method=PUT" method="POST" onsubmit="return validateForm('restaurant')">
            <div class="form-group">
                <input class="form-control" type="text" name="restaurant[name]" placeholder="Restaurant name" value="<%= restaurant.name %>" autofocus>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="restaurant[website]" placeholder="Website" value="<%= restaurant.website %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="restaurant[phone]" placeholder="phone" value="<%= restaurant.phone %>">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="restaurant[description]" placeholder="Description" value="<%= restaurant.description %>">
            </div>
            <div class="form-group">
                <input id="address" class="form-control" type="text" name="restaurant[address]" placeholder="Address (at least City, State)" onchange="invalidateLatLong()"
                    value="<%= restaurant.location.address %>">
            </div>
            <div class="form-group">
                <input id="lat" class="form-control" type="hidden" name="restaurant[lat]" placeholder="Latitude"
                    value="<%= restaurant.location.lat %>">
            </div>
            <div class="form-group">
                <input id="long" class="form-control" type="hidden" name="restaurant[long]" placeholder="Longitude"
                    value="<%= restaurant.location.long %>">
            </div>
            <div class="row-spacer">
                <div id="findMe" class="btn btn-success" onclick="findMe('form')">Find me</div>
            </div>

            <%- include("../partials/formButtons") %>
        </form>
    </div>

<%- include("../partials/footer") %>