<%- include("../partials/header") %>

    <div class="centered">
        <%- include("../partials/recommendList") %>

        <h1 class="header-text">Restaurants</h1>

        <%- include("../partials/newRestaurant") %>

        <% restaurants.forEach((restaurant) => { %>
            <div class="row new-item-form">
                <div class="col-12 centered">
                    <a class="btn btn-outline-primary bg-light" href="/restaurants/<%= restaurant._id %>">
                        <%= restaurant.name %>
                    </a>
                </div>
            </div>
        <% }); %>

        <% if (restaurants.length > 5) { %>
            <%- include("../partials/newRestaurant") %>
        <% } %>
    </div>

<%- include("../partials/footer") %>
