<%- include("../partials/header") %>

    <%- include("../partials/deleteConfirm") %>

    <div class="row">
        <div class="col-2 centered">
            <a class="btn btn-outline-primary bg-light" href="/restaurants" title="Restaurant List">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
        <div class="col-10">
            <div class="page-header">
                <%= restaurant.name %>
            </div>
        </div>
    </div>

    <% if (user) { %>
        <hr class="spacer">
        <div class="row row-spacer">
            <div class="col">
                <a href="/restaurants/<%= restaurant._id %>/checkin" class="btn btn-success">
                    <i class="fas fa-utensils"></i>
                </a>
            </div>
            <div class="col">
                <a href="/restaurants/<%= restaurant._id %>/edit" class="btn btn-outline-warning">
                    <i class="fas fa-edit"></i>
                </a>
            </div>
            <div class="col">
                <form class="delete-item" action="/restaurants/<%= restaurant._id %>?_method=DELETE" onsubmit="return deleteConfirm(`<%= restaurant.name %>`)" method="POST">
                    <button class="btn btn-outline-danger">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <%- include("../partials/recommendDropdown") %>
            </div>
            <div class="col">
                <% if (lists.length) { %>
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">Add to List</button>
                        <div class="dropdown-menu" id="listDropdown">
                            <input type="text" id="listInput" onkeyup="filterFunction('listInput', 'listDropdown')" placeholder="Search for lists...">
                            <% lists.forEach((list) => { %>
                                <a class="dropdown-item" href="/lists/<%= list._id %>/addRestaurant/<%= restaurant._id %>"><%= list.name %></a>
                            <% }); %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    <% } %>

    <div class="container">
        <hr class="spacer">
        <% if (user) { %>

            <h2>Notes</h2>
            <form id="note" action="/restaurants/<%= restaurant._id %>/notes" method="POST">
                <textarea name="note[body]" placeholder="Add notes here..." onchange="document.getElementById('note').submit()" required><%= (note ? note.body : '') %></textarea>
            </form>

            <hr class="spacer">
        <% } %>

        <% if (restaurant.website) { %>
            <h2>Website</h2>
            <div class="container">
                <a href="<%= restaurant.website %>" target="_blank"><%= restaurant.website %></a>
            </div>
        <% } %>

        <% if (restaurant.phone) { %>
            <h2>Phone</h2>
            <div class="container">
                <a href="tel:<%= restaurant.phone.replace(/\(|\)| |-/g,'') %>"><%= restaurant.phone %></a>
            </div>
        <% } %>

        <% if (restaurant.location && restaurant.location.address) { %>
            <h2>Address</h2>
            <div class="container">
                <a href="http://maps.google.com/maps/place/<%= encodeURIComponent(restaurant.location.address) %>" target="_blank">
                    <%= restaurant.location.address %>
                </a>
            </div>
        <% } %>

        <% if (restaurant.description) { %>
            <h2>Description</h2>
            <div class="container">
                <%= restaurant.description %>
            </div>
            <hr class="spacer">
        <% } %>

        <%
        const baseRatingLink = `/restaurants/${restaurant._id}/ratings`;
        const ratings = filterUserOwned(user, restaurant.ratings); 
        %>
        <%- include("../partials/ratings", {baseRatingLink, ratings, getRatingInfo}) %>

        <hr class="spacer">

        <%- include("../partials/recommendList") %>

        <h2>
            <div class="row">
                <div class="col-9">
                    Menu Items
                </div>
                <div class="col-3">
                    <% if (user) { %>
                        <a href="/restaurants/<%= restaurant._id %>/menuItems/new" class="btn btn-xs btn-outline-primary bg-light" title="New Menu Item">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                    <% } %>
                </div>
            </div>
        </h2>
        <div class="menu-item-container container">
            <% restaurant.getCategories().forEach((category, catIdx) => { %>
                <% if (catIdx > 0) { %>
                    <hr class="spacer dark-spacer low-margin">
                <% } %>

                <div class="row">
                    <div class="col-4">
                        <h5><%= category.label %></h5>
                    </div>
                    <div class="col-8">
                    </div>
                </div>
                <% category.menuItems.forEach((menuItem, idx) => { %>
                    <% if (idx > 0) { %>
                        <hr class="spacer low-margin">
                    <% } %>

                    <div class="row no-margin">
                        <div class="col-10 low-padding">
                            <% if (user) { %>
                                <div class="rating-btn low-padding">
                                    <a href="/restaurants/<%= restaurant._id %>/menuItems/<%= menuItem._id %>/ratings/new" class="btn btn-xs btn-outline-primary bg-light low-padding">
                                        <%
                                        const avgRating = averageRating(menuItem.ratings, user);
                                        if (typeof avgRating == 'number') {
                                        %>
                                            <% const ri = getRatingInfo(ratingInfo, avgRating) %>
                                            <img src="<%= ri.img %>.png" alt="<%= ri.alt %>" title="<%= ri.title %>">
                                        <%
                                        } else {
                                        %>
                                            <i class="fa-solid fa-plus"></i>
                                        <%
                                        }
                                        %>
                                    </a>
                                </div>
                            <% } %>
                            <div class="rating-content">
                                <h5 class="menuItem">
                                    <%= menuItem.name %>
                                </h5>
                                <% if (menuItem.description) { %>
                                    <%= menuItem.description %>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-2 no-padding">
                            <% if (user) { %>
                            <a class="btn btn-outline-primary bg-light" href="/restaurants/<%= restaurant._id %>/menuItems/<%= menuItem._id %>" title="See all ratings">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                            <% } %>
                        </div>
                    </div>
                <% }); %>
            <% }); %>
        </div>
    </div>

    <script type="text/javascript" src="/script/dropdownHandler.js"></script>

<%- include("../partials/footer") %>
